* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
h1{
   font-size: 40px;
   text-align: center;
   padding-top: 10px;
   margin-top: 10px;
}
.main{
   padding-top:20px;
   margin-left: auto;
   margin-right: auto;
   width: 800px;
   height: auto;
   background-color: white;
}

.question{
   font-size: 28px;
   font-weight: bold;
   text-align: left;
   padding-bottom: 10px;
}
.list-answer li {
   font-size: 23px;
   padding-left: 50px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.btn-next button{
   background-color: #41719C; 
   border: none;
   color: white;
   padding: 16px 32px;
   text-align: center;
   display: inline-block;
   font-size: 18px;
   margin: 30px 2px;
}
.message{
   color: #41719C;
   text-align: center;
   margin-top: 20px;
}
input[type=radio] {
   transform: scale(1.5);
}

